@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --firebrick:#ed1c24;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

header {
    background: linear-gradient(#13181d, #2b1419, #800000);
}

header nav {
    padding: 30px 5% 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-transform: uppercase;
    color: var(--firebrick);
}

header nav .right {
    display: flex;
    align-items: center;
}

header nav .right p {
    margin: 0 15px 0 0;
    color: #ccc;
    cursor: pointer;
}

header nav .right p:hover {
    color: #fff;
}

header nav .right button {
    padding: 5px 15px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid var(--firebrick);
    color: var(--firebrick);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s ;
}

header nav .right button:hover {
    color: inherit;
    background-color: var(--firebrick);
}

.presentation {
    padding: 30px 5%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation .product-presentation {
    width: 100%;
    flex-shrink: 3;
}

.presentation .product-presentation h2 {
    margin: 0;
    font-size: 4vw;
    width: 80%;
}

.presentation .product-presentation p {
    font-weight: 300;
    color: #e9e9e9;
}

.presentation .product-presentation button {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.presentation .product-presentation img {
    width: 100%;
}

.first .product-presentation button {
    background-color: var(--firebrick);
    border: 1px solid var(--firebrick);
    color: #fff;
    transition: background-color 0.5s, color 0.5s;
}

.first .product-presentation button:hover {
    background-color: inherit;
    border: 1px solid var(--firebrick);
    color: var(--firebrick);
}

.first .product-presentation .small-images {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.first .product-presentation .small-images .small {
    padding: 20px;
    background-color: #2b1419;
    margin: 0 15px 15px 0;
    border-radius: 20px;
    transition: filter 0.5s;
}

.first .product-presentation .small-images .small:hover {
    filter: brightness(50%);
}

.first .product-presentation .small-images .small img {
    width: 120px;
}

/* second section with local photo */


/* class slider */

.image-presentation img {
    width: 600px;
}

{
    margin: 0px;
    padding: 0px;
}

body {
    background: #494949;
}

.galeria {
    margin: 200px auto;
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.foto {
    position: absolute;
    animation: animacao infinite 20s;
    opacity: 0;
}

@keyframes animacao {
    25% {
        opacity: 1;
        transform: scale(1.1,1.1);
    }

    50% {
        opacity: 0;
    }
}


/* animation time */

.foto:nth-child(1) {
    animation-delay: 0s;
}

.foto:nth-child(2) {
    animation-delay: 5s;
}

.foto:nth-child(3) {
    animation-delay: 10s;
}

.foto:nth-child(4) {
    animation-delay: 15s;
}


.second {
    margin: 0;
    background-color: #2e1117;
}

.second .product-presentation .new {
    color: var(--firebrick);
}


.second .product-presentation button {

    background-color: inherit;
    border: 1px solid var(--firebrick);
    color: var(--firebrick);
    transition: background-color 0.5s, color 0.5s;
}

.second .product-presentation button:hover {
    background-color: var(--firebrick);
    color: #fff;
}

footer {
    margin: 0;
    padding: 20px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    color: var(--firebrick);
}

footer p {
    cursor: pointer;
    color: #ccc;
}

footer p:hover {
    color: #fff;
}

@media screen and (max-width: 640px) {
    header nav .right p {
        display: none;
    }

    .presentation .product-presentation h2 {
        font-size: 2em;
    }

    .presentation .image-presentation {
        display: none;
    }

    .first .product-presentation .small-images .small img {
        width: 90px;
    }

    footer {
        justify-content: start;
    }

        footer .column {
            width: 80%;
        }
}